In [1]:
import pandas as pd
import numpy  as np

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
from sklearn.preprocessing import OneHotEncoder

one_enc=OneHotEncoder(sparse_output=False)

cat_columns=df[['Geography','Gender']]

# geography_sparsed=one_enc.fit_transform(df['Geography'])

In [6]:
cat_columns

     Geography  Gender
0       France  Female
1        Spain  Female
2       France  Female
3       France  Female
4        Spain  Female
...        ...     ...
9995    France    Male
9996    France    Male
9997    France  Female
9998   Germany    Male
9999    France  Female

[10000 rows x 2 columns]

In [7]:
cat_sparsed=one_enc.fit_transform(cat_columns)
cat_sparsed

array([[1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [1., 0., 0., 1., 0.],
       ...,
       [1., 0., 0., 1., 0.],
       [0., 1., 0., 0., 1.],
       [1., 0., 0., 1., 0.]], shape=(10000, 5))

In [8]:
import pandas as pd

cat_encoded=pd.DataFrame(cat_sparsed,columns=one_enc.get_feature_names_out())
cat_encoded

,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,1.0,0.0
2,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...
9995,1.0,0.0,0.0,0.0,1.0
9996,1.0,0.0,0.0,0.0,1.0
9997,1.0,0.0,0.0,1.0,0.0
9998,0.0,1.0,0.0,0.0,1.0
9999,1.0,0.0,0.0,1.0,0.0

In [9]:
df=pd.concat([df,cat_encoded],axis=1)

In [10]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0,1.0,0.0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0,1.0,0.0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0,1.0,0.0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0,1.0,0.0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0,0.0,1.0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0,0.0,1.0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0,1.0,0.0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0,0.0,1.0
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0,1.0,0.0

In [11]:
df=df.drop(['Geography','Gender'],axis=1)

In [12]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0,1.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0,1.0,0.0
2,502,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0,1.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0,1.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0,0.0,1.0
9996,516,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0,0.0,1.0
9997,709,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0,1.0,0.0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0,0.0,1.0
9999,792,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0,1.0,0.0

In [13]:
X=df.drop('Exited',axis=1)
Y=df['Exited']

In [14]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0,1.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0,1.0,0.0
2,502,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0,1.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0,1.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0,0.0,1.0
9996,516,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0,0.0,1.0
9997,709,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0,1.0,0.0
9998,772,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0,0.0,1.0
9999,792,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0,1.0,0.0

In [15]:
Y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [17]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
9254,686,32,6,0.00,2,1,1,179093.26,1.0,0.0,0.0,0.0,1.0
1561,632,42,4,119624.60,2,1,1,195978.86,0.0,1.0,0.0,0.0,1.0
1670,559,24,3,114739.92,1,1,0,85891.02,0.0,0.0,1.0,0.0,1.0
6087,561,27,9,135637.00,1,1,0,153080.40,1.0,0.0,0.0,1.0,0.0
6669,517,56,9,142147.32,1,0,0,39488.04,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,69381.05,1.0,0.0,0.0,0.0,1.0
5191,682,58,1,0.00,1,1,1,706.50,1.0,0.0,0.0,1.0,0.0
5390,735,38,1,0.00,3,0,0,92220.12,1.0,0.0,0.0,1.0,0.0
860,667,43,8,190227.46,1,1,0,97508.04,1.0,0.0,0.0,0.0,1.0
7270,697,51,1,147910.30,1,1,1,53581.14,0.0,1.0,0.0,0.0,1.0

In [18]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.fit_transform(X_test)

In [19]:
X_test_scaled

array([[-5.12501721e-01, -6.77299309e-01, -6.98445493e-01, ...,
        -5.63491843e-01, -9.09111664e-01,  9.09111664e-01],
       [-2.36046598e-01,  3.84298354e-01, -1.38035469e+00, ...,
        -5.63491843e-01, -9.09111664e-01,  9.09111664e-01],
       [-4.61306328e-01,  4.80807232e-01, -3.57490896e-01, ...,
         1.77464858e+00,  1.09997489e+00, -1.09997489e+00],
       ...,
       [ 8.59534812e-01,  7.70333868e-01,  6.65372897e-01, ...,
        -5.63491843e-01,  1.09997489e+00, -1.09997489e+00],
       [ 4.70449825e-01, -9.66825944e-01, -3.57490896e-01, ...,
        -5.63491843e-01, -9.09111664e-01,  9.09111664e-01],
       [-1.84851205e-01, -1.73715981e-03, -1.38035469e+00, ...,
        -5.63491843e-01, -9.09111664e-01,  9.09111664e-01]],
      shape=(2000, 13))

In [20]:
X_test_scaled

array([[-5.12501721e-01, -6.77299309e-01, -6.98445493e-01, ...,
        -5.63491843e-01, -9.09111664e-01,  9.09111664e-01],
       [-2.36046598e-01,  3.84298354e-01, -1.38035469e+00, ...,
        -5.63491843e-01, -9.09111664e-01,  9.09111664e-01],
       [-4.61306328e-01,  4.80807232e-01, -3.57490896e-01, ...,
         1.77464858e+00,  1.09997489e+00, -1.09997489e+00],
       ...,
       [ 8.59534812e-01,  7.70333868e-01,  6.65372897e-01, ...,
        -5.63491843e-01,  1.09997489e+00, -1.09997489e+00],
       [ 4.70449825e-01, -9.66825944e-01, -3.57490896e-01, ...,
        -5.63491843e-01, -9.09111664e-01,  9.09111664e-01],
       [-1.84851205e-01, -1.73715981e-03, -1.38035469e+00, ...,
        -5.63491843e-01, -9.09111664e-01,  9.09111664e-01]],
      shape=(2000, 13))

In [21]:
X_train=pd.DataFrame(X_train_scaled,columns=X_train.columns,index=X_train.index)

In [22]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
9254,0.356500,-0.655786,0.345680,-1.218471,0.808436,0.649203,0.974817,1.367670,1.001501,-0.579467,-0.576388,-0.913248,0.913248
1561,-0.203898,0.294938,-0.348369,0.696838,0.808436,0.649203,0.974817,1.661254,-0.998501,1.725723,-0.576388,-0.913248,0.913248
1670,-0.961472,-1.416365,-0.695393,0.618629,-0.916688,0.649203,-1.025834,-0.252807,-0.998501,-0.579467,1.734942,-0.913248,0.913248
6087,-0.940717,-1.131148,1.386753,0.953212,-0.916688,0.649203,-1.025834,0.915393,1.001501,-0.579467,-0.576388,1.094993,-1.094993
6669,-1.397337,1.625953,1.386753,1.057449,-0.916688,-1.540351,-1.025834,-1.059600,1.001501,-0.579467,-0.576388,-0.913248,0.913248
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,1.207474,1.435808,1.039728,-0.102301,-0.916688,0.649203,0.974817,-0.539860,1.001501,-0.579467,-0.576388,-0.913248,0.913248
5191,0.314989,1.816097,-1.389442,-1.218471,-0.916688,0.649203,0.974817,-1.733882,1.001501,-0.579467,-0.576388,1.094993,-1.094993
5390,0.865009,-0.085351,-1.389442,-1.218471,2.533560,-1.540351,-1.025834,-0.142765,1.001501,-0.579467,-0.576388,1.094993,-1.094993
860,0.159323,0.390011,1.039728,1.827259,-0.916688,0.649203,-1.025834,-0.050826,1.001501,-0.579467,-0.576388,-0.913248,0.913248
7270,0.470655,1.150590,-1.389442,1.149720,-0.916688,0.649203,0.974817,-0.814568,-0.998501,1.725723,-0.576388,-0.913248,0.913248

In [23]:
X_test=pd.DataFrame(X_test_scaled,columns=X_test.columns,index=X_test.index)

In [24]:
X_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
6252,-0.512502,-0.677299,-0.698445,0.300846,0.805105,-1.578101,-1.050262,-0.990969,-1.020204,1.736682,-0.563492,-0.909112,0.909112
4684,-0.236047,0.384298,-1.380355,-1.255997,0.805105,0.633673,0.952144,0.829379,0.980196,-0.575811,-0.563492,-0.909112,0.909112
1731,-0.461306,0.480807,-0.357491,-1.255997,0.805105,0.633673,-1.050262,-0.699045,-1.020204,-0.575811,1.774649,1.099975,-1.099975
4742,-1.434019,1.928440,1.006327,0.662139,0.805105,0.633673,0.952144,1.252315,-1.020204,1.736682,-0.563492,-0.909112,0.909112
4521,-0.881109,-1.159844,0.665373,0.756215,-0.891639,0.633673,0.952144,0.277492,-1.020204,-0.575811,1.774649,1.099975,-1.099975
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6412,-0.451067,1.349387,-0.016536,0.325956,-0.891639,-1.578101,0.952144,-0.934406,-1.020204,1.736682,-0.563492,1.099975,-1.099975
8285,-0.379394,-1.352861,1.688237,-1.255997,-0.891639,-1.578101,0.952144,0.194393,0.980196,-0.575811,-0.563492,-0.909112,0.909112
7853,0.859535,0.770334,0.665373,-1.255997,-0.891639,0.633673,-1.050262,-1.137430,0.980196,-0.575811,-0.563492,1.099975,-1.099975
1095,0.470450,-0.966826,-0.357491,-1.255997,-0.891639,0.633673,-1.050262,-0.382377,0.980196,-0.575811,-0.563492,-0.909112,0.909112
6929,-0.184851,-0.001737,-1.380355,0.600790,-0.891639,0.633673,0.952144,0.155740,-1.020204,1.736682,-0.563492,-0.909112,0.909112

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers   import Dense

In [29]:
model=Sequential(
    [
        Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
        Dense(32,activation='relu'),
        Dense(1,activation='sigmoid')
    ]
)
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           896 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,009 (11.75 KB)

 Trainable params: 3,009 (11.75 KB)

 Non-trainable params: 0 (0.00 B)

In [33]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
ls=tensorflow.keras.losses.BinaryCrossentropy()

model.compile(optimizer=opt,loss=ls,metrics=['accuracy'])

In [34]:
history=model.fit(
    X_train,Y_train,validation_data=(X_test,Y_test),epochs=100
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.8329 - loss: 0.3973 - val_accuracy: 0.8510 - val_loss: 0.3471
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8565 - loss: 0.3551 - val_accuracy: 0.8635 - val_loss: 0.3445
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8555 - loss: 0.3511 - val_accuracy: 0.8630 - val_loss: 0.3421
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8569 - loss: 0.3464 - val_accuracy: 0.8605 - val_loss: 0.3462
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8619 - loss: 0.3419 - val_accuracy: 0.8595 - val_loss: 0.3440
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8593 - loss: 0.3387 - val_accuracy: 0.8540 - val_loss: 0.3414
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8644 - loss: 0.3354 - val_accuracy: 0.8565 - val_loss: 0.3446
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8622 - loss: 0.3325 - val_accuracy: 0.8540 - val_loss: 0.3507
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8597 - loss: 0.3336 - val_accuracy: 0.8620 - val_loss: 0.3406
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8641 - loss: 0.3319 - val_accuracy: 0.8600 - val_loss: 0.3443
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8620 - loss: 0.3316 - val_accuracy: 0.8505 - val_loss: 0.3519
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8641 - loss: 0.3301 - val_accuracy: 0.8595 - val_loss: 0.3599
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.8655 - loss: 0.3274 - val_accuracy: 0.8525 - val_loss: 0.3475
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8655 - loss: 0.3262 - val_accuracy: 0.8575 - val_loss: 0.3444
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8689 - loss: 0.3257 - val_accuracy: 0.8610 - val_loss: 0.3456
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8679 - loss: 0.3249 - val_accuracy: 0.8590 - val_loss: 0.3456
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8671 - loss: 0.3212 - val_accuracy: 0.8565 - val_loss: 0.3536
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8680 - loss: 0.3202 - val_accuracy: 0.8570 - val_loss: 0.3422
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8690 - loss: 0.3155 - val_accuracy: 0.8535 - val_loss: 0.3621
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8679 - loss: 0.3178 - val_accuracy: 0.8550 - val_loss: 0.3564
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8716 - loss: 0.3139 - val_accuracy: 0.8570 - val_loss: 0.3684
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8720 - loss: 0.3104 - val_accuracy: 0.8530 - val_loss: 0.3723
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8701 - loss: 0.3138 - val_accuracy: 0.8505 - val_loss: 0.3776
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8726 - loss: 0.3072 - val_accuracy: 0.8555 - val_loss: 0.3717
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8745 - loss: 0.3050 - val_accuracy: 0.8590 - val_loss: 0.3667
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8742 - loss: 0.3037 - val_accuracy: 0.8530 - val_loss: 0.3711
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8752 - loss: 0.2984 - val_accuracy: 0.8520 - val_loss: 0.3730
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8769 - loss: 0.2994 - val_accuracy: 0.8525 - val_loss: 0.3746
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8764 - loss: 0.2970 - val_accuracy: 0.8560 - val_loss: 0.3865
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8796 - loss: 0.2936 - val_accuracy: 0.8585 - val_loss: 0.3725
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8774 - loss: 0.2958 - val_accuracy: 0.8565 - val_loss: 0.3740
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8815 - loss: 0.2921 - val_accuracy: 0.8560 - val_loss: 0.3719
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8779 - loss: 0.2912 - val_accuracy: 0.8540 - val_loss: 0.3841
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8834 - loss: 0.2884 - val_accuracy: 0.8605 - val_loss: 0.3788
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8845 - loss: 0.2856 - val_accuracy: 0.8495 - val_loss: 0.3950
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8849 - loss: 0.2853 - val_accuracy: 0.8450 - val_loss: 0.3952
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8851 - loss: 0.2831 - val_accuracy: 0.8560 - val_loss: 0.3929
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8850 - loss: 0.2796 - val_accuracy: 0.8555 - val_loss: 0.4046
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8885 - loss: 0.2760 - val_accuracy: 0.8535 - val_loss: 0.4192
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8854 - loss: 0.2782 - val_accuracy: 0.8505 - val_loss: 0.4203
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8881 - loss: 0.2768 - val_accuracy: 0.8505 - val_loss: 0.4074
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8903 - loss: 0.2713 - val_accuracy: 0.8475 - val_loss: 0.4214
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8878 - loss: 0.2736 - val_accuracy: 0.8490 - val_loss: 0.4278
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8881 - loss: 0.2732 - val_accuracy: 0.8490 - val_loss: 0.4097
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8894 - loss: 0.2689 - val_accuracy: 0.8425 - val_loss: 0.4287
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8892 - loss: 0.2693 - val_accuracy: 0.8460 - val_loss: 0.4384
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8889 - loss: 0.2698 - val_accuracy: 0.8445 - val_loss: 0.4299
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8899 - loss: 0.2649 - val_accuracy: 0.8455 - val_loss: 0.4420
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8935 - loss: 0.2615 - val_accuracy: 0.8500 - val_loss: 0.4320
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8928 - loss: 0.2589 - val_accuracy: 0.8490 - val_loss: 0.4424
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8909 - loss: 0.2576 - val_accuracy: 0.8405 - val_loss: 0.4691
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8956 - loss: 0.2584 - val_accuracy: 0.8445 - val_loss: 0.4412
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8914 - loss: 0.2577 - val_accuracy: 0.8440 - val_loss: 0.4687
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8949 - loss: 0.2565 - val_accuracy: 0.8510 - val_loss: 0.4536
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8946 - loss: 0.2572 - val_accuracy: 0.8480 - val_loss: 0.4934
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8938 - loss: 0.2565 - val_accuracy: 0.8450 - val_loss: 0.4500
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8936 - loss: 0.2504 - val_accuracy: 0.8400 - val_loss: 0.4563
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8970 - loss: 0.2483 - val_accuracy: 0.8435 - val_loss: 0.4643
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8957 - loss: 0.2440 - val_accuracy: 0.8485 - val_loss: 0.4920
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8931 - loss: 0.2487 - val_accuracy: 0.8475 - val_loss: 0.4798
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8959 - loss: 0.2470 - val_accuracy: 0.8460 - val_loss: 0.5014
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9004 - loss: 0.2410 - val_accuracy: 0.8490 - val_loss: 0.4895
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9013 - loss: 0.2458 - val_accuracy: 0.8390 - val_loss: 0.5150
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8957 - loss: 0.2461 - val_accuracy: 0.8480 - val_loss: 0.4910
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8978 - loss: 0.2448 - val_accuracy: 0.8495 - val_loss: 0.5082
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8986 - loss: 0.2417 - val_accuracy: 0.8530 - val_loss: 0.5350
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8990 - loss: 0.2418 - val_accuracy: 0.8480 - val_loss: 0.5080
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9019 - loss: 0.2360 - val_accuracy: 0.8440 - val_loss: 0.5239
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9016 - loss: 0.2336 - val_accuracy: 0.8455 - val_loss: 0.5190
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9007 - loss: 0.2350 - val_accuracy: 0.8445 - val_loss: 0.4994
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9055 - loss: 0.2360 - val_accuracy: 0.8470 - val_loss: 0.5055
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8995 - loss: 0.2362 - val_accuracy: 0.8425 - val_loss: 0.5215
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9028 - loss: 0.2295 - val_accuracy: 0.8450 - val_loss: 0.5467
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9011 - loss: 0.2342 - val_accuracy: 0.8445 - val_loss: 0.5534
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9006 - loss: 0.2333 - val_accuracy: 0.8510 - val_loss: 0.5094
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9046 - loss: 0.2278 - val_accuracy: 0.8415 - val_loss: 0.5530
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8996 - loss: 0.2305 - val_accuracy: 0.8555 - val_loss: 0.5426
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9034 - loss: 0.2295 - val_accuracy: 0.8310 - val_loss: 0.5893
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9051 - loss: 0.2281 - val_accuracy: 0.8455 - val_loss: 0.5840
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9040 - loss: 0.2240 - val_accuracy: 0.8460 - val_loss: 0.5585
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9061 - loss: 0.2247 - val_accuracy: 0.8465 - val_loss: 0.5676
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9069 - loss: 0.2235 - val_accuracy: 0.8440 - val_loss: 0.5715
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9090 - loss: 0.2175 - val_accuracy: 0.8515 - val_loss: 0.5955
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9061 - loss: 0.2236 - val_accuracy: 0.8390 - val_loss: 0.6058
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9081 - loss: 0.2215 - val_accuracy: 0.8450 - val_loss: 0.6456
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9046 - loss: 0.2321 - val_accuracy: 0.8405 - val_loss: 0.5653
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9051 - loss: 0.2224 - val_accuracy: 0.8450 - val_loss: 0.6077
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9080 - loss: 0.2172 - val_accuracy: 0.8405 - val_loss: 0.5772
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9085 - loss: 0.2176 - val_accuracy: 0.8470 - val_loss: 0.5822
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9076 - loss: 0.2154 - val_accuracy: 0.8480 - val_loss: 0.5855
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9079 - loss: 0.2176 - val_accuracy: 0.8430 - val_loss: 0.5868
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9091 - loss: 0.2131 - val_accuracy: 0.8485 - val_loss: 0.5927
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9069 - loss: 0.2160 - val_accuracy: 0.8445 - val_loss: 0.6241
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9064 - loss: 0.2184 - val_accuracy: 0.8335 - val_loss: 0.6082
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9084 - loss: 0.2109 - val_accuracy: 0.8435 - val_loss: 0.6159
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9066 - loss: 0.2174 - val_accuracy: 0.8480 - val_loss: 0.6301
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9087 - loss: 0.2108 - val_accuracy: 0.8485 - val_loss: 0.6476
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9090 - loss: 0.2070 - val_accuracy: 0.8410 - val_loss: 0.6664
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9109 - loss: 0.2094 - val_accuracy: 0.8350 - val_loss: 0.6551
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9089 - loss: 0.2140 - val_accuracy: 0.8380 - val_loss: 0.6561

In [35]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [37]:
import pickle

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

with open('one_hot_encoder.pkl','wb') as file:
    pickle.dump(one_enc,file)

In [40]:
from tensorflow.keras.models import load_model

model=load_model('model.h5')

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

with open('one_hot_encoder.pkl','rb') as file:
    one_enc=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.