In [74]:
import tensorflow
from tensorflow.keras.models import load_model
import pickle
import pandas as pd

model=load_model('model.h5')

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

with open('one_hot_encoder.pkl','rb') as file:
    one_enc=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [75]:
input_data={
    'CreditScore':64567,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':6456878645,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':0,
    'EstimatedSalary':50000
}

In [76]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,64567,France,Male,40,3,6456878645,2,1,0,50000

In [77]:

cat_sparsed=one_enc.transform(input_df[['Geography','Gender']])

In [78]:
cat_encoded=pd.DataFrame(cat_sparsed,columns=one_enc.get_feature_names_out())

In [79]:
cat_encoded

,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1.0,0.0,0.0,0.0,1.0

In [80]:
input_df=pd.concat([input_df,cat_encoded],axis=1)

In [81]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,64567,France,Male,40,3,6456878645,2,1,0,50000,1.0,0.0,0.0,0.0,1.0

In [82]:
input_df=input_df.drop(['Geography','Gender'],axis=1)

In [83]:
input_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,64567,40,3,6456878645,2,1,0,50000,1.0,0.0,0.0,0.0,1.0

In [84]:
input_scaled=scaler.transform(input_df)

input_scaled

array([[ 6.54491595e+02,  9.47717186e-02, -6.98445493e-01,
         1.03942976e+05,  8.05105366e-01,  6.33673177e-01,
        -1.05026160e+00, -8.48050468e-01,  9.80196059e-01,
        -5.75810666e-01, -5.63491843e-01, -9.09111664e-01,
         9.09111664e-01]])

In [89]:
pred=model.predict(input_df)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 120ms/step

In [90]:
pred

array([[1.]], dtype=float32)

In [91]:
prediction_probablity=pred[0][0]

if prediction_probablity>0.5:
    print("Churned")
else:
    print("Not Churned")

Churned

In [92]:
one_enc.categories_

[array(['France', 'Germany', 'Spain'], dtype=object),
 array(['Female', 'Male'], dtype=object)]